ul {
  list-style-type: none;
}

.header,
.sidebar,
.nav,
.main {
  border: 2px solid blue;
  border-radius: 5px;
}

.article, .social {
  border: 2px solid red;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100px 1fr;
  width: 100vw;
  height: 100vh;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}